---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/schools.json
    body:
      encoding: UTF-8
      string: '{"school":{"name":"Teste","subdomain":"teste","status":"trial"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: Resource not authorized
  recorded_at: Wed, 30 Jul 2014 16:51:28 GMT
recorded_with: VCR 2.9.2
