---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/schools/224.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d72a1e19e5964ff903611e9af5c73e33"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":224,"name":"Demo","subdomain":"demo","domains":["www.example.com"],"email":"contato@edools.com","phone":null,"cnpj":null,"status":"public","logo":"https://cdn.edools.com/assets/images/logos/marca-sem-fundo.png"}'
  recorded_at: Wed, 30 Jul 2014 16:51:26 GMT
- request:
    method: put
    uri: https://core.edools.com/schools/224.json
    body:
      encoding: UTF-8
      string: '{"school":{"id":224,"name":"Demo","subdomain":"demo","domains":["www.example.com"],"email":"contato@edools.com","phone":"12345678","cnpj":null,"status":"public","logo":"https://cdn.edools.com/assets/images/logos/marca-sem-fundo.png"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Jul 2014 16:51:27 GMT
recorded_with: VCR 2.9.2
