---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/students/1024/addresses.json
    body:
      encoding: UTF-8
      string: '{"address":{"street":"Abc","number":123,"complement":"Cde","city":"Nikiti","state":"RJ","zip_code":"24210000","district":"Saint
        Rose"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"b32ab436769c507f6d608be0530463a8"'
      Location:
      - https://core.edools.com/addresses/1
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":1,"street":"Abc","number":123,"complement":"Cde","city":"Nikiti","state":"RJ","zip_code":"24210000","district":"Saint
        Rose","user_id":1024,"created_at":"2015-07-09T14:47:24.566Z","updated_at":"2015-07-09T14:47:24.566Z"}'
  recorded_at: Thu, 09 Jul 2015 14:47:24 GMT
recorded_with: VCR 2.9.2
