---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/school_products/156/school_classes.json
    body:
      encoding: UTF-8
      string: '{"school_class":{"title":"teste"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f8ba527fee3509a84df034216b43e19"'
      Location:
      - https://core.edools.com/school_classes/168
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156,"created_at":"2014-07-30T18:27:15.159Z","updated_at":"2014-07-30T18:27:15.159Z","forum_section_id":null}'
  recorded_at: Wed, 30 Jul 2014 18:27:15 GMT
recorded_with: VCR 2.9.2
