---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/school_products/156/school_classes.json?school_product_id=156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e75ff2e73a21aa209f564d771dd14c22"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"school_classes":[{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156}]}'
  recorded_at: Wed, 30 Jul 2014 18:27:11 GMT
recorded_with: VCR 2.9.2
