---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/school_classes/168.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dcb41408a68ae8c04a207735c3183a5b"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156}'
  recorded_at: Wed, 30 Jul 2014 18:30:06 GMT
- request:
    method: put
    uri: https://core.edools.com/school_classes/168.json
    body:
      encoding: UTF-8
      string: '{"school_class":{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156,"description":"test
        description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Jul 2014 18:30:07 GMT
recorded_with: VCR 2.9.2
