---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/course_modules/11329/course_contents.json
    body:
      encoding: UTF-8
      string: '{"course_content":{"name":"Edools API Test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"571844e88308200d6d113b8f9f10533d"'
      Location:
      - https://core.edools.com/course_contents/52239
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":52239,"course_module_id":11329,"order":null,"content_id":null,"content_type":null,"created_at":"2015-07-06T19:22:07.549Z","updated_at":"2015-07-06T19:22:07.549Z","available":null,"downloadable":null}'
  recorded_at: Mon, 06 Jul 2015 19:22:07 GMT
recorded_with: VCR 2.9.2
