---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/course_contents/52239.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"d7691c93ab409904d622fa7ea094b965"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":52239,"content_id":null,"content_type":null,"order":null,"downloadable":null,"available":null,"lesson":null}'
  recorded_at: Mon, 06 Jul 2015 19:22:56 GMT
- request:
    method: delete
    uri: https://core.edools.com/course_contents/52239.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 19:22:56 GMT
recorded_with: VCR 2.9.2
