---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/course_modules/11329/course_contents.json?course_module_id=11329
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"0ac05ce776eb6833013ecbd38a3b5286"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"course_contents":[{"id":49020,"content_id":49012,"content_type":"Lesson","order":0,"downloadable":null,"available":null,"lesson":{"id":49012,"title":"Nome
        da atividade","type":"ExamLesson","release_at":null,"release_after":null,"min_grade":0,"activity":{"id":308,"title":"Associativa","type":"Quiz"}}},{"id":51657,"content_id":51650,"content_type":"Lesson","order":1,"downloadable":null,"available":null,"lesson":{"id":51650,"title":"Nome
        da atividade","type":"ExamLesson","release_at":null,"release_after":null,"min_grade":0,"activity":null}},{"id":51658,"content_id":51651,"content_type":"Lesson","order":2,"downloadable":null,"available":null,"lesson":{"id":51651,"title":"Nome
        da aula","type":"ContentLesson","release_at":null,"release_after":null,"media":null}}]}'
  recorded_at: Mon, 06 Jul 2015 19:21:16 GMT
recorded_with: VCR 2.9.2
