---
http_interactions:
- request:
    method: post
    uri: https://ecommerce.edools.com/schools/224/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"name":"Edools API Test","guid":"123","price":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.ecommerce.v1+json; charset=utf-8
      Etag:
      - '"d29f5033a53c845c28a77fa530f18300"'
      Location:
      - https://ecommerce.edools.com/products/123
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":2671,"guid":"123","name":"Edools API Test","description":null,"price":0,"active":true,"created_at":"2015-07-06T21:20:33.492Z","updated_at":"2015-07-06T21:20:33.492Z","credits":null,"school_id":1,"base_price":0,"promotional":false,"price_in_credits":0,"expiration_period":null,"archived":false}'
  recorded_at: Mon, 06 Jul 2015 21:20:33 GMT
recorded_with: VCR 2.9.2
