---
http_interactions:
- request:
    method: get
    uri: https://ecommerce.edools.com/products/123.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.ecommerce.v1+json; charset=utf-8
      Etag:
      - '"02d62ab3d9a9b7c4ba36936574ca383a"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2671,"guid":"123","name":"Edools API Test UPDATED","description":null,"price":0,"price_in_credits":0,"active":true,"credits":null,"school_id":1,"base_price":0,"promotional":false,"expiration_period":null,"type":null,"created_at":"2015-07-06
        21:20:33 UTC","updated_at":"2015-07-07 13:14:08 UTC","plans":[]}'
  recorded_at: Tue, 07 Jul 2015 13:14:20 GMT
- request:
    method: delete
    uri: https://ecommerce.edools.com/products/123.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Jul 2015 13:14:21 GMT
recorded_with: VCR 2.9.2
