---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/api_keys/token/secret.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"e3ae2bc44f055230c839a5ca0a61ec36"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"token":"token","secret":"secret","realm":{"id":null,"type":null},"permissions":[{"id":8070,"key":"api_key","can_create":false,"can_read":true,"can_update":false,"can_delete":false}]}'
  recorded_at: Mon, 11 Aug 2014 21:19:58 GMT
recorded_with: VCR 2.9.2
