---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/students.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Teste","email":"teste6@edools.com","password":"123456","password_confirmation":"123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a0693be855489080c429aabd6aa7aed3"'
      Location:
      - https://core.edools.com/students/1671
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":1671,"first_name":"Teste","last_name":null,"email":"teste6@edools.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","credentials":"c67a828ba0843c3c5475cab0fa68121d:791c868df4f753ac761fe56674b756d4"}'
  recorded_at: Tue, 29 Jul 2014 12:32:34 GMT
recorded_with: VCR 2.9.2
