---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/students.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Teste","email":"teste1@edools.com","password":"123456","password_confirmation":"123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"status":"500","error":"Internal Server Error"}'
  recorded_at: Fri, 25 Jul 2014 20:26:54 GMT
recorded_with: VCR 2.9.2
