---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students/1249.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84dca334843b1c1cc4fdac9d3bd20d8d"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1249,"first_name":"Ali Ismayilov","last_name":null,"email":"ali@ismailov.info","cpf":null,"phone":"1406312474","skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":"bdf5be8b002ca470131df53e2d4a0f1d07898c08fb4747248a69a4b0f142284c","registrations":[{"id":134,"code":"20140718160250966","school_id":224,"status":"Ativo","enrollments":[{"id":1036,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}},{"id":1034,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}},{"id":1032,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}}]}]}'
  recorded_at: Fri, 25 Jul 2014 18:21:43 GMT
- request:
    method: delete
    uri: https://core.edools.com/students/1249.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 Jul 2014 18:21:54 GMT
recorded_with: VCR 2.9.2
