---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a589be13508d6857aa09f014b0e8f677"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"students":[{"id":1024,"first_name":"Denise","last_name":"Steiner","email":"denisesteiner@mail.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/5.jpg","invitation_token":null,"registrations":[{"id":72,"code":"20140625164249158","school_id":224,"status":"Trial","enrollments":[{"id":1035,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}},{"id":1033,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}}]}]},{"id":1023,"first_name":"Denise","last_name":"Steiner","email":"denisesteiner@email.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_toke[...]
