---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students/1249.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c91b4b955d2482e303a14cfa03316dcc"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1249,"first_name":"Ali Ismayilov","last_name":null,"email":"ali@ismailov.info","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":"00f95fc792bfabdd7dc4adeeabeaa11ea5f2394a2f1af1ccd5960686f5f0ff77","registrations":[{"id":134,"status":"Active","school_id":224,"enrollments":[]}]}'
  recorded_at: Fri, 25 Jul 2014 15:57:03 GMT
recorded_with: VCR 2.9.2
