---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students/1671.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"658594acc1fa8720f429237b8ce0da06"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1671,"first_name":"Teste","last_name":null,"email":"teste6@edools.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":null,"registrations":[{"id":503,"code":"20140729123233878","school_id":224,"status":"Trial","enrollments":[]}]}'
  recorded_at: Tue, 29 Jul 2014 12:38:39 GMT
recorded_with: VCR 2.9.2
