---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/collaborators.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Teste","email":"collaborator+teste2@edools.com","password":"123456","password_confirmation":"123456","role_ids":[141]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"21b21ee83ee11b498dd331bd39877966"'
      Location:
      - https://core.edools.com/collaborators/87527
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":87527,"first_name":"Teste","last_name":null,"email":"collaborator+teste2@edools.com","cpf":null,"rg":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","credentials":"6b950c5cce515d4a67c0b10bf5ec3414:748fa0e39ff3a21463b32a0d7bcc8f46"}'
  recorded_at: Tue, 14 Jul 2015 19:10:06 GMT
recorded_with: VCR 2.9.2
