---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/collaborators/87527.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"49913afb771e33c208fe9530525a761c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":87527,"first_name":"Teste","last_name":null,"email":"collaborator+teste2@edools.com","username":null,"cpf":null,"rg":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":null,"type":"Collaborator","role":{"name":"Administrador
        Geral"},"roles":[{"id":141,"name":"Administrador Geral"}],"course_classes":[],"library_resources":[]}'
  recorded_at: Tue, 14 Jul 2015 19:12:40 GMT
- request:
    method: put
    uri: https://core.edools.com/collaborators/87527.json
    body:
      encoding: UTF-8
      string: '{"user":{"id":87527,"first_name":"Teste","last_name":null,"email":"collaborator+teste2@edools.com","username":null,"cpf":null,"rg":null,"phone":"1406638122","skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":null,"type":"Collaborator","role":{"name":"Administrador
        Geral"},"roles":[{"id":141,"name":"Administrador Geral"}],"course_classes":[],"library_resources":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 14 Jul 2015 19:12:41 GMT
- request:
    method: get
    uri: https://core.edools.com/collaborators/87527.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"0863462c642a3ff8d268b58fe91b8b28"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":87527,"first_name":"Teste","last_name":null,"email":"collaborator+teste2@edools.com","username":null,"cpf":null,"rg":null,"phone":"1406638122","skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":null,"type":"Collaborator","role":{"name":"Administrador
        Geral"},"roles":[{"id":141,"name":"Administrador Geral"}],"course_classes":[],"library_resources":[]}'
  recorded_at: Tue, 14 Jul 2015 19:12:41 GMT
recorded_with: VCR 2.9.2
