---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students/1023.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"7d2bf5606fd1ea38f789f37033b7659f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1023,"first_name":"Denise","last_name":"Steiner","email":"denisesteiner@email.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_token":null,"registrations":[{"id":71,"code":"20140625163503552","school_id":224,"status":"Trial","enrollments":[]}]}'
  recorded_at: Thu, 04 Sep 2014 19:04:34 GMT
- request:
    method: post
    uri: https://core.edools.com/users/sign_in.json
    body:
      encoding: UTF-8
      string: '{"user":{"email":"denisesteiner@email.com","password":"edools1234"},"realm":{"id":224,"type":"School"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"fcf908064241e2c2e85a9884bb1c118e"'
      Location:
      - "/"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1023,"type":"Student","first_name":"Denise","last_name":"Steiner","email":"denisesteiner@email.com","cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","credentials":"ff0a3080d384f0be15e82f8d4bfbef76:a91ec336e113b6bace5cafd5e46ff91f","permissions":[{"key":"extra_content","can_create":false,"can_read":true,"can_update":false,"can_delete":false},{"key":"collaborative_comment","can_create":true,"can_read":true,"can_update":false,"can_delete":false},{"key":"exam_answer","can_create":true,"can_read":true,"can_update":false,"can_delete":false},{"key":"activity","can_create":false,"can_read":true,"can_update":false,"can_delete":false},{"key":"wallet","can_create":false,"can_read":true,"can_update":true,"can_delete":false},{"key":"wallet_credits_payment","can_create":true,"can_read":true,"can_update":false,"can_delete":false},{"key":"t[...]
