---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/categories.json
    body:
      encoding: UTF-8
      string: '{"category":{"title":"Edools API Test","order":25,"school_id":"224"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"1db929c65453bc4e9c8fec9c165dc112"'
      Location:
      - https://core.edools.com/categories/1432
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":1432,"title":"Edools API Test","order":25,"school_id":224,"created_at":"2015-07-08T14:40:06.777Z","updated_at":"2015-07-08T14:40:06.777Z","flag":false}'
  recorded_at: Wed, 08 Jul 2015 14:40:07 GMT
recorded_with: VCR 2.9.2
