---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/categories/1432.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"e89835d5795c345723f45565931640ab"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1432,"title":"Edools API Test","order":25,"flag":false,"school_products_count":0}'
  recorded_at: Wed, 08 Jul 2015 14:41:01 GMT
- request:
    method: put
    uri: https://core.edools.com/categories/1432.json
    body:
      encoding: UTF-8
      string: '{"category":{"id":1432,"title":"Edools API Test","order":"26","flag":false,"school_products_count":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jul 2015 14:41:01 GMT
recorded_with: VCR 2.9.2
