---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/media.json
    body:
      encoding: UTF-8
      string: '{"media":{"title":"Edools API Test","type":"Text","text":"Edools API
        Test Text"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"76f227162213be1568efbf07be47283e"'
      Location:
      - https://core.edools.com/media/54344
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":54344,"type":"Text","title":"Edools API Test","description":null,"host":null,"host_key":null,"status":"ready","message":null,"created_at":"2015-07-06
        19:31:41 UTC","updated_at":"2015-07-06 19:31:41 UTC","samba_player_key":"154f766fe4bdcf7cd6730542a851372b","usage_count":0,"text":"Edools
        API Test Text","lesson_ids":[],"extra_content_ids":[],"library_resource":{"id":121419,"library":{"id":2,"samba_player_key":"154f766fe4bdcf7cd6730542a851372b"},"library_tags":[]}}'
  recorded_at: Mon, 06 Jul 2015 19:31:41 GMT
recorded_with: VCR 2.9.2
