---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/media/54344.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"0c0113ea52de04c86aeceb21319b1be7"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":54344,"type":"Text","title":"Edools API Test","description":"Edools
        API Test","host":null,"host_key":null,"status":"ready","message":null,"created_at":"2015-07-06
        19:31:41 UTC","updated_at":"2015-07-06 19:32:35 UTC","samba_player_key":"154f766fe4bdcf7cd6730542a851372b","usage_count":0,"text":"Edools
        API Test Text","lesson_ids":[],"extra_content_ids":[],"library_resource":{"id":121419,"library":{"id":2,"samba_player_key":"154f766fe4bdcf7cd6730542a851372b"},"library_tags":[]}}'
  recorded_at: Mon, 06 Jul 2015 19:32:39 GMT
- request:
    method: delete
    uri: https://core.edools.com/media/54344.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 19:32:40 GMT
recorded_with: VCR 2.9.2
