---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/media.json?title=Video-teste-Base
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"596cca6b34c3c06a0192abb6477857f5"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"media":[{"id":53839,"type":"Video","title":"Video-teste-Base","description":null,"host":"Wistia","host_key":"nsygjssjj7","status":"ready","message":null,"created_at":"2015-06-25
        19:07:53 UTC","updated_at":"2015-06-25 19:09:19 UTC","samba_player_key":"154f766fe4bdcf7cd6730542a851372b","usage_count":0,"lesson_ids":[],"extra_content_ids":[],"library_resource":{"id":119502,"library":{"id":2,"samba_player_key":"154f766fe4bdcf7cd6730542a851372b"},"library_tags":[]}}],"current_page":1,"per_page":10,"total_pages":1,"total_count":1}'
  recorded_at: Tue, 07 Jul 2015 18:43:50 GMT
recorded_with: VCR 2.9.2
