---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/schools/224/school_products.json
    body:
      encoding: UTF-8
      string: '{"school_product":{"title":"teste"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"05d17c3de1f58eb103b023ee1057ab5e"'
      Location:
      - https://core.edools.com/school_products/170
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":170,"title":"teste","subtitle":null,"description":null,"logo":null,"video_url":null,"video_title":null,"video_description":null,"published":false,"hidden":false,"restricted":false,"allowed_emails":[],"expire_date":null,"available_time_type":"indeterminate","available_time_length":null,"available_time_unit":null,"certification":false,"certification_min_progress":null,"meta_title":null,"meta_description":null,"classes_auto_generation":false,"created_at":"2014-07-30
        17:21:16 UTC","updated_at":"2014-07-30 17:21:16 UTC","categories":[{"id":471,"title":"Geral","order":1,"flag":false}],"library_resource":null}'
  recorded_at: Wed, 30 Jul 2014 17:21:16 GMT
recorded_with: VCR 2.9.2
