---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/school_products/2718.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"da708c002333d0554fbc7a9efb903fca"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2718,"title":"teste","subtitle":null,"description":null,"logo":null,"video_url":null,"video_title":null,"video_description":null,"published":false,"hidden":false,"restricted":false,"allowed_emails":[],"expire_date":null,"available_time_type":"indeterminate","available_time_length":null,"available_time_unit":null,"certification":false,"certification_min_progress":null,"meta_title":null,"meta_description":null,"meta_keys":null,"classes_auto_generation":false,"max_attendance_type":"indeterminate","max_attendance_length":null,"created_at":"2015-07-06
        19:33:56 UTC","updated_at":"2015-07-06 19:33:56 UTC","forum_section_ids":[],"gallery_media":[],"school_product_topics":[],"categories":[],"class_teachers":[],"library_resource":null}'
  recorded_at: Mon, 06 Jul 2015 19:36:14 GMT
- request:
    method: put
    uri: https://core.edools.com/school_products/2718.json
    body:
      encoding: UTF-8
      string: '{"school_product":{"id":2718,"title":"teste","subtitle":null,"description":"Edools
        API Test","logo":null,"video_url":null,"video_title":null,"video_description":null,"published":false,"hidden":false,"restricted":false,"allowed_emails":[],"expire_date":null,"available_time_type":"indeterminate","available_time_length":null,"available_time_unit":null,"certification":false,"certification_min_progress":null,"meta_title":null,"meta_description":null,"meta_keys":null,"classes_auto_generation":false,"max_attendance_type":"indeterminate","max_attendance_length":null,"created_at":"2015-07-06
        19:33:56 UTC","updated_at":"2015-07-06 19:33:56 UTC","forum_section_ids":[],"gallery_media":[],"school_product_topics":[],"categories":[],"class_teachers":[],"library_resource":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 19:36:15 GMT
recorded_with: VCR 2.9.2
