---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/courses/12473.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"d46b4517d247df7aa7e2c4b7514d6fb0"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":12473,"name":"Edools API Test","description":"Edools API test","image_url":null,"created_at":"2015-07-06
        18:40:47 UTC","updated_at":"2015-07-06 18:42:43 UTC","duration":null,"path_ids":[],"forum_section_ids":[],"library_resource":{"id":121410,"school_products":[],"library":{"id":2},"library_tags":[]}}'
  recorded_at: Mon, 06 Jul 2015 18:42:56 GMT
- request:
    method: delete
    uri: https://core.edools.com/courses/12473.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 18:42:56 GMT
recorded_with: VCR 2.9.2
