---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/lessons.json
    body:
      encoding: UTF-8
      string: '{"lesson":{"title":"Edools API Test","type":"ContentLesson"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"e7458d3cba9e730e536d6616100deee7"'
      Location:
      - https://core.edools.com/lessons/52232
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":52232,"title":"Edools API Test","type":"ContentLesson","available":null,"description":null,"release_at":null,"release_after":null,"created_at":"2015-07-06
        19:26:40 UTC","updated_at":"2015-07-06 19:26:40 UTC","media":null,"library_resource":{"id":121418,"library":{"id":2},"library_tags":[]},"courses":[]}'
  recorded_at: Mon, 06 Jul 2015 19:26:40 GMT
recorded_with: VCR 2.9.2
