---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/lessons/52232.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"e7458d3cba9e730e536d6616100deee7"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":52232,"title":"Edools API Test","type":"ContentLesson","available":null,"description":null,"release_at":null,"release_after":null,"created_at":"2015-07-06
        19:26:40 UTC","updated_at":"2015-07-06 19:26:40 UTC","media":null,"library_resource":{"id":121418,"library":{"id":2},"library_tags":[]},"courses":[]}'
  recorded_at: Mon, 06 Jul 2015 19:27:19 GMT
- request:
    method: put
    uri: https://core.edools.com/lessons/52232.json
    body:
      encoding: UTF-8
      string: '{"lesson":{"id":52232,"title":"Edools API Test","type":"ContentLesson","available":null,"description":"Edools
        API Test","release_at":null,"release_after":null,"created_at":"2015-07-06
        19:26:40 UTC","updated_at":"2015-07-06 19:26:40 UTC","media":null,"library_resource":{"id":121418,"library":{"id":2},"library_tags":[]},"courses":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 19:27:20 GMT
recorded_with: VCR 2.9.2
