---
http_interactions:
- request:
    method: post
    uri: https://ecommerce.edools.com/coupons.json
    body:
      encoding: UTF-8
      string: '{"coupon":{"name":"Edools API Test","token_type":"autogenerated","quantity":50,"value":50,"percentual":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.ecommerce.v1+json; charset=utf-8
      Etag:
      - '"9280d6c754c03dfa6b610fad08838d6a"'
      Location:
      - https://ecommerce.edools.com/coupons/3118
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":3118,"name":"Edools API Test","token_type":"autogenerated","quantity":50,"available_until":null,"created_at":"2015-07-16T19:12:42.646Z","updated_at":"2015-07-16T19:12:42.646Z","percentual":true,"value":50,"school_id":1}'
  recorded_at: Thu, 16 Jul 2015 19:12:43 GMT
recorded_with: VCR 2.9.2
