---
http_interactions:
- request:
    method: get
    uri: https://ecommerce.edools.com/coupons/3118.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.ecommerce.v1+json; charset=utf-8
      Etag:
      - '"978d7d05f249061c26effa9d4b18d554"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":3118,"name":"Edools API Test","token_type":"autogenerated","quantity":50,"available_until":null,"created_at":"2015-07-16
        19:12:42 UTC","updated_at":"2015-07-16 19:12:42 UTC","percentual":true,"value":50,"school_id":1,"used_quantity":0,"customer_ids":[],"customer_guids":[],"plan_ids":[],"product_ids":[],"global":true}'
  recorded_at: Thu, 16 Jul 2015 19:14:25 GMT
- request:
    method: delete
    uri: https://ecommerce.edools.com/coupons/3118.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 16 Jul 2015 19:14:26 GMT
recorded_with: VCR 2.9.2
