---
http_interactions:
- request:
    method: get
    uri: https://ecommerce.edools.com/coupons/2626.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.ecommerce.v1+json; charset=utf-8
      Etag:
      - '"e1000d23fcb2015f751b009f9ca0b709"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2626,"name":"teste 20/05","token_type":"manual","quantity":10,"available_until":null,"created_at":"2015-05-20
        16:25:27 UTC","updated_at":"2015-05-20 16:25:39 UTC","percentual":false,"value":10000,"school_id":1,"used_quantity":0,"customer_ids":[42],"customer_guids":["2380"],"plan_ids":[],"product_ids":[2449,2466],"global":false}'
  recorded_at: Thu, 16 Jul 2015 19:04:38 GMT
recorded_with: VCR 2.9.2
