---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a76f65067a4c11e65e0aebbb54bea01b"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"students":[{"id":1024,"first_name":"Denise","last_name":"Steiner","email":"denisesteiner@mail.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/5.jpg","invitation_token":null,"registrations":[{"id":72,"code":"20140625164249158","school_id":224,"status":"Trial","enrollments":[{"id":1035,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}},{"id":1033,"unlimited":true,"available_until":null,"school_class":{"id":151,"code":null,"school_product":{"id":156,"title":"New
        course"}}}]}]},{"id":1023,"first_name":"Denise","last_name":"Steiner","email":"denisesteiner@email.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg","invitation_toke[...]
- request:
    method: get
    uri: https://core.edools.com/school_products/156/school_classes.json?school_product_id=156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"220880d32e632e3ebbe98855e2e2ca3e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"school_classes":[{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":151,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156},{"id":168,"start_at":null,"end_at":null,"code":null,"school_product_id":156}]}'
  recorded_at: Wed, 30 Jul 2014 18:32:18 GMT
- request:
    method: post
    uri: https://core.edools.com/enrollments.json
    body:
      encoding: UTF-8
      string: '{"enrollment":{"registration_id":72,"school_class_id":151,"unlimited":true,"status":"active"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c2709fd206bacab9c8cefdc3976257e3"'
      Location:
      - https://core.edools.com/enrollments/1060
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":1060,"status":"active","unlimited":true,"available_until":null,"school_class_id":151,"created_at":"2014-07-30T18:32:18.949Z","updated_at":"2014-07-30T18:32:18.949Z","code":null,"registration_id":72}'
  recorded_at: Wed, 30 Jul 2014 18:32:19 GMT
recorded_with: VCR 2.9.2
