---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/students/1024/enrollments.json?student_id=1024
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"70ca0cf7a709fa8574d65781ae63a125"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"enrollments":[{"id":1035,"code":null,"status":"expired","unlimited":true,"available_until":null,"lesson_progress_ids":[],"created_at":"2014-07-25
        17:11:29 UTC","registration":{"id":72,"status":"Trial","code":"20140625164249158"},"school_class":{"id":151,"start_at":null,"end_at":null,"code":null,"school_product":{"id":156,"title":"New
        course","logo":null}}},{"id":1033,"code":null,"status":"active","unlimited":true,"available_until":null,"lesson_progress_ids":[],"created_at":"2014-07-25
        17:09:27 UTC","registration":{"id":72,"status":"Trial","code":"20140625164249158"},"school_class":{"id":151,"start_at":null,"end_at":null,"code":null,"school_product":{"id":156,"title":"New
        course","logo":null}}}],"current_page":1,"per_page":10,"total_pages":1,"total_count":2}'
  recorded_at: Wed, 30 Jul 2014 15:19:15 GMT
recorded_with: VCR 2.9.2
