---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/courses/1566/course_modules.json
    body:
      encoding: UTF-8
      string: '{"course_module":{"name":"Teste"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"dd9ffef403ed2f4f747d136a24d5f6af"'
      Location:
      - https://core.edools.com/course_modules/11976
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":11976,"name":"Teste","description":null,"order":null,"available":null,"course_content_ids":[],"created_at":"2015-07-06
        19:14:52 UTC","updated_at":"2015-07-06 19:14:52 UTC","parent_course_module":null,"course_modules":[]}'
  recorded_at: Mon, 06 Jul 2015 19:14:52 GMT
recorded_with: VCR 2.9.2
