---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/course_modules/11976.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"dd9ffef403ed2f4f747d136a24d5f6af"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":11976,"name":"Teste","description":null,"order":null,"available":null,"course_content_ids":[],"created_at":"2015-07-06
        19:14:52 UTC","updated_at":"2015-07-06 19:14:52 UTC","parent_course_module":null,"course_modules":[]}'
  recorded_at: Mon, 06 Jul 2015 19:15:22 GMT
- request:
    method: delete
    uri: https://core.edools.com/course_modules/11976.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 19:15:23 GMT
recorded_with: VCR 2.9.2
