---
http_interactions:
- request:
    method: post
    uri: https://core.edools.com/paths.json
    body:
      encoding: UTF-8
      string: '{"path":{"name":"Edools API Test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"260263fa77b9024dfd16f5beb2acd2d5"'
      Location:
      - https://core.edools.com/paths/1757
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":1757,"name":"Edools API Test","description":null,"image_url":null,"created_at":"2015-07-06
        18:34:49 UTC","updated_at":"2015-07-06 18:34:49 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":121409,"library":{"id":2},"library_tags":[],"school_products":[]}}'
  recorded_at: Mon, 06 Jul 2015 18:34:49 GMT
recorded_with: VCR 2.9.2
