---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/paths/1750.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"c5ae248e6e86975748d301a05cf5bb2e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1750,"name":"Teste feliz","description":null,"image_url":null,"created_at":"2015-06-09
        13:19:54 UTC","updated_at":"2015-06-09 13:19:54 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":114461,"library":{"id":2},"library_tags":[],"school_products":[]}}'
  recorded_at: Mon, 06 Jul 2015 18:34:50 GMT
- request:
    method: delete
    uri: https://core.edools.com/paths/1750.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 18:34:51 GMT
recorded_with: VCR 2.9.2
