---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/paths.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"c518b30f446922475ff74f5694da3655"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"paths":[{"id":1008,"name":"Teste 123","description":null,"image_url":null,"created_at":"2015-02-06
        19:03:53 UTC","updated_at":"2015-02-06 19:03:53 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":74776,"library":{"id":2},"library_tags":[],"school_products":[]}},{"id":32,"name":"00001
        TRILHA PARA TESTES E2E","description":null,"image_url":null,"created_at":"2014-12-23
        18:36:08 UTC","updated_at":"2015-04-24 17:31:44 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":48905,"library":{"id":2},"library_tags":[],"school_products":[{"id":2693,"title":"PATH"},{"id":2641,"title":"Trilha
        embed"}]}},{"id":1045,"name":"qweqweqweqweqweasss","description":null,"image_url":null,"created_at":"2015-02-27
        14:17:22 UTC","updated_at":"2015-04-24 17:30:52 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":83764,"library":{"id":2},"library_tags":[],"school_products":[]}},{"id":1753,"name":"lalala","description":null,"image_url":null,"created_at":"2015-06-09
        19:55:45 UTC","updated_at":"2015-06-09 19:55:45 UTC","forum_se[...]
