---
http_interactions:
- request:
    method: get
    uri: https://core.edools.com/paths/1008.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - '"d9726dd970dcd75cd86ad55e9d58a5fc"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1008,"name":"Teste 123","description":null,"image_url":null,"created_at":"2015-02-06
        19:03:53 UTC","updated_at":"2015-02-06 19:03:53 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":74776,"library":{"id":2},"library_tags":[],"school_products":[]}}'
  recorded_at: Mon, 06 Jul 2015 18:29:40 GMT
- request:
    method: put
    uri: https://core.edools.com/paths/1008.json
    body:
      encoding: UTF-8
      string: '{"path":{"id":1008,"name":"Teste 123","description":"Edools API test","image_url":null,"created_at":"2015-02-06
        19:03:53 UTC","updated_at":"2015-02-06 19:03:53 UTC","forum_section_ids":[],"code":null,"library_resource":{"id":74776,"library":{"id":2},"library_tags":[],"school_products":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=84cc0400cd52f62f2e12309b502889ab:2fee1e06d56ab6394ab9acd4c6a8c62f
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jul 2015 18:29:41 GMT
recorded_with: VCR 2.9.2
